@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.checkbox-outer:not(.nostyle) {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.3125rem 0 0;
}

.checkbox-outer:not(.nostyle):before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fefefe;
    border: solid 0.0625rem #e1e1e1;
    display: block;
}

.checkbox-outer:not(.nostyle).checked:after {
    opacity: 1;
}

#box::before {
    border-radius: 4px;
}

.horseCheckbox {
    max-width: 40%;
    min-width: 40%;
    border: 2px solid #D5D5DC;
    /* Default border color */
    border-radius: 6px;
    /* Rounded corners */
    appearance: none;
    /* Remove default checkbox styles */
    -webkit-appearance: none;
    /* Safari support */
    background-color: white;
    /* Default background */
    cursor: pointer;
    /* Show pointer on hover */
    display: inline-block;
    /* Ensure proper rendering */
    position: relative;
    /* Allow absolute positioning for the tick */
    box-sizing: border-box;
    /* Ensure padding/border doesn't affect dimensions */
    height: 33px;
}

.horseCheckbox:checked {
    background-color: #CFCFCF;
    /* Background when checked */
    border-color: #CFCFCF;
    /* Border color when checked */
}


.horseCheckbox:checked::before {
    content: '✔';
    /* Custom tick mark */
    color: white;
    /* Tick color */
    font-size: 24px;
    /* Adjust size of the tick */
    position: absolute;
    /* Position the tick */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center tick inside checkbox */
}


.checkbox-outer:not(.nostyle):after {
    content: ' ';
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    bottom: 0.3125rem;
    left: 0.3125rem;
    opacity: 0;
    background: #2c2e32;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    pointer-events: none;
}

.bet-tools__content {
    padding: 20px;
    background-color: #f6f9f5;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid #ddd;
}

.single-column {
    border-right: 1px solid #ddd;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.single-column:nth-child(6) {
    border-right: 0px !important;
}

#horseSelection {
    border: 1px solid #ddd;
    margin: 0px;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: white;
    margin-top: 16px;
}

.title-selections {
    padding: 4px;
}

.race-titles {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.62px;
    text-align: left;
}

.bet-tools__header {
    font-size: 24px;
    margin-bottom: 20px;
}

.bet-tools__description {
    margin-bottom: 20px;
    color: #555;
}

.bet-calculator__flex-center {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.bet-calculator__label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22.97px;
}

input:disabled {
    background-color: #eee;
}


.result-card {
    margin-top: 8px;
    border-radius: 12px;
    padding: 12px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    font-style: normal;
    color: white;
    background: linear-gradient(270deg, #040000 0%, #400000 49.24%, #900000 100%), linear-gradient(45.98deg, #2F0D0E 2.78%, #95292B 119.13%);
}


.ticketSection {
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F6F6F626;
    padding: 10px;

}

.result-title {
    font-weight: 400;
    margin: 0px;
    line-height: 39px;
    font-size: 1.6rem;
}

.result-value {
    margin: 0px;
    line-height: 39px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #D8D8D8;

}

.picksList {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;

}

.editPicks {
    display: none;
}

.input-container {
    display: block;
}

.no-bullet {
    margin-left: 0;
    list-style: none;
}

.calculator-body li .cloth-checkbox {
    margin: 0 auto;
}

.cloth-checkbox .program-number {
    float: left;
    border-radius: 0;
    margin-right: 0;
    z-index: 2;
    min-width: 55%;
    border-radius: 8px;
}

.program-number,
.entry-header .number {
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-right: none;
    z-index: 1;
    margin-right: 0.375rem;
    border-radius: 0.125rem;
    padding: 0.3125rem 0;
    width: 1.875rem;
    text-align: center;
}

.cloth-1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #ddd;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

.cloth-checkbox {
    position: relative;
    width: 4.375rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    justify-content: space-between;
    padding: 6px;
}

.cloth-checkbox.checked span.right.checked {
    right: -5px;
}

ul {
    padding: 0px !important;
    margin-top: 8px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
    line-height: 20px;
}

.space-between {
    justify-content: space-between;
}

.cp {
    cursor: pointer;
}

.modal-body {
    padding: 0px 32px;
}

    .bet-input__select {
    -webkit-appearance: none; /* Remove default styling on Safari/iOS */
    -moz-appearance: none; /* Remove default styling on Firefox */
    appearance: none; /* Remove default styling for modern browsers */
    background-color: white; /* Set a consistent background */
    padding: 16px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M0 0h20l-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    background-size: 10px;
}

.bet-input__select:focus {
    border: 1.5px solid black;
    transition: ease-in-out 0.3s;
}


#exampleModal{
    position: fixed;
    top     : 0px;
    right   : 0px;
}

.tickBtn{
    outline: 0px;
    border: 0px;
    background: white;
    font-size: 21px;
    position: absolute;
    top: 4px;
    right: 10px;
}

@media (max-width: 600px) {
    body {
        margin-top: 30px;
    }

    .bet-calculator__flex-center {
        flex-direction: column;
    }

    .bet-calculator__flex-center>div {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .bet-calculator__flex-center>div:first-child {
        margin-bottom: 10px;
    }

    #horseList {
        flex-direction: column !important;
    }

    .race-titles {
        margin-bottom: 0px;
    }

    .input-container {
        display: none !important;
    }

    .editPicks {
        display: block !important;
        background: linear-gradient(270deg, #040000 0%, #400000 49.24%, #900000 100%), linear-gradient(45.98deg, #2F0D0E 2.78%, #95292B 119.13%);
        outline: 0px;
        color: white;
        border-radius: 8px;
        border: 0px;
        padding: 8px;
    }

    .single-column {
        padding: 16px !important;
    }

    .picksList {
        display: block !important;
    }
  
  .result-title, .bet-calculator__label, .race-titles{
      font-size: 16px;
  
  }
  
  .bet-tools__content{
      padding: 4px;
  }
  
  .bet-tools__content{
      padding: 6px;
  }
  
  .result-value{
      font-size: 18px;
  
  }
  
  .bet-input__select{
      font-size: 14px !important;
    padding: 8px;
  
  }
  
  .picksList{
      font-size: 10px !important;
  }
  
  .editPicks{
      font-size: 12px;
  }
  
  .bet-input__select{
      padding: 8px !important;
  }

  ul {
    margin-top: 8px !important;
}
  li{
    margin-bottom: 4px;
  }

  .horseCheckbox{
    height: 25px;
  }

  .cloth-checkbox{
    width: 75% !important;
    padding: 4px !important;

  }

  .program-number{
    font-size: 14px !important;
    line-height: 14px !important;
  }

  .modal-header {
    padding: 8px 16px !important;
  }

  .horseCheckbox:checked::before{
    font-size: 14px !important;
  }

}

